.navbar {
  background-color: #000000 !important;
}

/* Customizar links */
.navbar-nav .nav-link {
  color: white !important;
  font-weight: 500;
  margin-left: 15px;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ffeb3b !important;
  text-decoration: underline;
}

/* Customizar brand */
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white !important;
}

/* Ativo */
.navbar-nav .nav-link.active{
  color: #ffffff !important;
  border-bottom: 1px solid #ff0000;
}

.navbar-brand:hover {
  color: #ff0909 !important;
}

#button-addon1{
    background-color: #000000 !important;
}

.table-primary th {
  background-color: #000000 !important;
  color: white !important;
  border-color: #333333;
}

.table-hover tbody tr {
  background-color: #1a1a1a !important;
  color: white !important;
}

.table-hover tbody tr:hover {
  background-color: #333333 !important;
}

.table-hover tbody td {
  color: rgb(0, 0, 0) !important;
}
/* Container para tabela com border-radius */
.table-container {
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.table-container .table {
  margin-bottom: 0;
}

/* Titulo Lista de Produtos */
h2.fw-bold.text-primary {
  color: #000000 !important;
}

/* Botao Cadastrar */
.btn-primary {
  background-color: #000000 !important;
  border-color: #000000 !important;
}

.btn-primary:hover {
  background-color: #333333 !important;
  border-color: #333333 !important;
}

/* Botao Limpar Busca */
.btn-secondary {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: white !important;
}

.btn-secondary:hover {
  background-color: #333333 !important;
  border-color: #333333 !important;
}
